body {
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: black;
}

* {
	box-sizing: border-box;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: 700;
    color: #323232;
}

p {
	margin: 0;
	font-size: 20px;
	
}

img{
	display: block;
	max-width: 100%;
	object-fit: cover;
}
a {
	text-decoration: none;
	color: #4985FF;
}

header{
	background: pink;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

section{
	padding-top: 50px;
	padding-bottom: 50px;
	background: lightgray;
}




.container {
	width: 1110px;
	margin: 0 auto;
}



.title{

	text-align: center;
	color: white;
	font-size: 50px;
	margin-top: 150px;

}





 .menu{
	display: flex;
	list-style-type: none;
	justify-content: center;
}


.menu_item{
padding: 8px;
  margin: 16px 24px;
}

.menu_item a{
	color: white;
	text-decoration: none;
	font-size: 20px;

}

.img{
	width: 450px;
	height: 450px;
}

.about{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.learn{
	background: white;
}

.section{

	text-align: center;
	margin-bottom: 50px;
}



.myButton {
	
	background-color:pink;
	border-radius:3px;
	margin-top: 20px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:6px 24px;
	text-decoration:none;
	text-align: center;
	
}
.myButton:hover {
	background-color:darkmagenta;
}
.myButton:active {
	position:relative;
	top:1px;
}





#btn{
	margin-left: 50px;
	background-color:pink;
	border-radius:3px;
border-color: white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:6px 24px;
	text-decoration:none;
	text-align: center;
}
.btn{
	margin-left: 10px;
	background-color:pink;
	border-radius:3px;
border-color: white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:6px 24px;
	text-decoration:none;
	text-align: center;
}


.edit{
	background-color:pink;
	border-radius:3px;
border-color: white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:6px 24px;
	text-decoration:none;
	text-align: center;
	margin-left: 50px;
}


.span{
	animation: opacity 0.3s infinite alternate;
	font-weight: 900;
}

@keyframes opacity {
	0%{opacity: 1;}
	100%{opacity: 0;}
}



.mySlides {
	
	width: 40%;
	
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  

  
 
  
  .row{
	margin: 0 auto;
	display: flex;
	
	
  }
 


  
  img.active {
	opacity: 1;
  }


  button{
	border: none;
  }

  .wrapper{
	display: flex;
  }


  .form-group{
	margin-left: 250px;
  }


  #commentplace{

	position: relative;
	min-width: 350px;
	height: auto;
	margin: 20px 10px;
	padding: 5px;
	background-color: #DADADA;
	border-radius: 3px;
	border: 5px solid #ccc;
  }



 .buttons{
	text-align: center;
 }



  .alert-primary{
	font-size: 15px;
	font-weight: bold;
  }

  .alert-success{
	font-size: 18px;
    font-weight: lighter;
	margin-top: 20px;
  }



  .mySlides {
	
	display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
	cursor: pointer;
  }
  

  .column {
	margin: 50px 15px 0 0 ;
	width: 15%;

  }

 
  
 


  
  /* Container for image text */
  .caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
  }
  
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  


  
  /* Add a transparency effect for thumnbail images */
  .demo {
	opacity: 0.6;
  }
  
  .active,
  .demo:hover {
	opacity: 1;
  }
  